body
{
    padding: 20px;
    background-color: slategrey;
}
h1
{
    font-family: fantasy;
    font-size: 150px;
    text-align: center;
}
p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: left;
}
.pjbackground
{
    background-image: url('https://cms.kerrang.com/images/2024/04/_1200x630_crop_center-center_82_none/PEARL-JAM-WEB-SLEEVE-2024.jpg?mtime=1713173715');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}
.node:hover
{
    stroke-width: 7px !important;
    opacity: 1 !important;
}